<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404에러 발생</title>
</head>
<body>
    <h1>500</h1>
    <h2>알수없는 서버 에러</h2>
    <br>
    <h2 style="display: inline-block"><span id="countdown">3</span></h2>
    <h2 style="display: inline-block">초 후 홈으로 돌아갑니다.</h2>
    <script>
        let count = 1;
        const countdown = document.getElementById("countdown");
        setInterval(()=>{
            if(count === 3){
                location.href = "/";
            }
            countdown.innerText = 3 - count;
            count++;
        },1000);
    </script>
</body>
</html>