<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script th:src="@{/js/stomp.min.js}"></script>

    <title>WebRTC 화상 채팅</title>
</head>
<body>
<h1>WebRTC 화상 채팅</h1>
<video id="localVideo" autoplay muted playsinline></video>
<video id="remoteVideo" autoplay playsinline></video>
<button id="startButton">시작</button>
<button id="stopButton">중지</button>

<script>
    let localStream;
    let remoteStream;
    let rtcPeerConnection;

    const localVideo = document.getElementById('localVideo');
    const remoteVideo = document.getElementById('remoteVideo');
    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');

    const client = new StompJs.client({
        brokerURL : "ws://localhost:8080/ws",
        heartbeatIncoming: 3000,
        heartbeatOutgoing: 3000,
        reconnectDelay: 5000
    });

    startButton.addEventListener('click', (event) =>{
        start(true, true);
    });
    stopButton.addEventListener('click', stop);

    async function start(video, audio) {
        console.log('debug');
        try {
            // 미디어 장치 가져오기
            localStream = await navigator.mediaDevices.getUserMedia({ video: video, audio: audio });

            // 로컬 비디오에 스트림 설정
            localVideo.srcObject = localStream;

            // RTCPeerConnection 설정
            rtcPeerConnection = new RTCPeerConnection();

            // 로컬 스트림 추가
            localStream.getTracks().forEach(track => rtcPeerConnection.addTrack(track, localStream));

            // 원격 스트림 이벤트 처리
            rtcPeerConnection.ontrack = event => {
                remoteStream = event.streams[0];
                remoteVideo.srcObject = remoteStream;
            };

            // SDP 제안 생성 및 설정
            const offer = await rtcPeerConnection.createOffer();
            await rtcPeerConnection.setLocalDescription(offer);

            // SDP 제안 전송
            // 이 부분에서는 자신의 서버 또는 시그널링 서버를 사용하여 SDP를 전송해야 합니다.


        } catch (error) {
            if(video){
                console.log('비디오 장치를 찾을 수 없음');
                start(false, true);
            }else if(audio){
                console.log('오디오 장치를 찾을 수 없음');
                start(true, false);
            }
        }
    }

    function stop() {
        // 웹캠 및 마이크 스트림 중지
        localStream.getTracks().forEach(track => track.stop());

        // RTC 연결 해제
        rtcPeerConnection.close();

        // 비디오 엘리먼트 초기화
        localVideo.srcObject = null;
        remoteVideo.srcObject = null;
    }
</script>
</body>
</html>
