<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <title>웹 화상 채팅</title>
</head>
<body>
    <div>
        <h1>웹 화상 채팅</h1>
        <div id="chatRoomList" th:each="room:${rooms}">
            <div id="chatRoomItem">
                <a th:text="${room.title}" th:data-roomid="${room.id}" th:onclick="enterRoom([[${room.id}]])"></a>
            </div>
        </div>
        <input type="button" id="createRoom" value="채팅방 생성"/>
        <div id="createPopup" class="popup">
            <div id="close">X</div>
            <form action="/create/room" method="get">
                <div class="inline">
                    <label>채팅방 이름</label>
                    <input id="roomName" type="text" name="title"/>
                </div>
                <div class="inline">
                    <label>비밀 번호</label>
                    <input id="roomPass" type="password" name="password" class="password"/>
                </div>
                <div class="inline">
                    <label>비밀번호 확인</label>
                    <input id="roomPassCheck" type="password" name="password-check" class="password"/>
                    <label id="passNotSame">비밀번호가 일치하지 않습니다.</label>
                </div>
                <div class="inline">
                    <label>주제</label>
                    <input type="text" name="content"/>
                </div>
                <input id="popup-createRoom" type="submit" value="채팅방 생성" disabled>
            </form>
        </div>
    </div>
</body>
<script>

    //요소
    const roomName = document.getElementById("roomName");
    const password = document.getElementById("roomPass");
    const passwordCheck = document.getElementById("roomPassCheck");
    const passNotSameWarning = document.getElementById("passNotSame");
    const createRoomButton = document.getElementById("popup-createRoom");

    //채팅방 만들기 팝업 생성
    document.getElementById("createRoom").addEventListener("click", () => {
        document.getElementById("createPopup").style.display="block";
    });
    //팝업 닫기 버튼
    document.getElementById("close").addEventListener("click", () => {
        location.href="/";
    })

    const passwordInputs = document.getElementsByClassName("password");

    let pass = false;

    for (let i = 0; i < passwordInputs.length; i++) {
        passwordInputs[i].addEventListener("change", () => {
            if(password.value !== passwordCheck.value){
                passNotSameWarning.style.display="block";
                pass = false;
            }else{
                passNotSameWarning.style.display="none";
                pass = true;
            }
        });
    }

    roomName.addEventListener("change", () => {
        checkContent();
    });
    password.addEventListener("change", () => {
        checkContent();
    });
    passwordCheck.addEventListener("change", () => {
        checkContent();
    });
    function checkContent(){
        createRoomButton.disabled = !(roomName.value !== "" && password.value !== "" && passwordCheck.value !== "" && pass);
    }

    function enterRoom(roomCode){
        let password = prompt("비밀번호를 입력해주세요.");
        if(password != null) {
            location.href = "/enter/room/" + roomCode + "/" + password
        }
    }

</script>
</html>